a:hover, header .top .top-right #cart_block .content ul.items-in-shopping-cart li .price, header .top .top-right #cart_block .content ul.items-in-shopping-cart li .price, header .top .top-right .language-currency .switcher .option ul li a:hover, .navigation_container nav > ul > li:hover > a, .navigation_container nav > ul > li > .sub-menu > ul > li:hover > a, .navigation_container nav > ul > li > .sub-menu > ul > li > .sub-menu a:hover, .navigation_container nav > ul > li > .sub-menu > ul > li > .sub-menu a:hover, .products-grid > div .price, header .top .top-right #cart_block .content .saldo-action .saldo ul li span { color:#149fda; }
header .top .top-right #cart_block .content ul.items-in-shopping-cart li .close:hover { background-color:#149fda; }
ul.tweet_list li .tweet_text a { color:#bc2f36; }

header .top .top-right #cart_block .content, header .top .top-right .language-currency .switcher .option ul, .navigation_container nav > ul > li > .sub-menu { border-top:5px solid #1492cc; }
.navigation_container nav > ul > li > .sub-menu .sub-menu { border-left:5px solid #149fda; }

/* Header -> Top -> Top Right -> Wishlist */

header .top .top-right .wishlist { background-color:#bc2f36; }
header .top .top-right .wishlist:hover { background-color:#cb4249; }

/* Header -> Top -> Top Right -> Cart */

header .top .top-right #cart_block { background-color:#149fda; }
header .top .top-right #cart_block:hover { background-color:#21b9f9; }

/* Navigation -> Search */

.navigation_container .search input.enterkey:focus { border:1px solid #149fda; }

.button { background:#149fda; }
.button:hover { background:#21b9f9; }
.button-two, .buttons .left .button, .buttons .center .button { background:#bc2f36; }
.button-two:hover, .buttons .left .button:hover, .buttons .center .button:hover { background:#cb4249; }
.button-slider { background:#bc2f36; }
.button-slider:hover { background:#cb4249; }
.button-slider2 { background:#149fda; }
.button-slider2:hover { background:#21b9f9; }

/* Product hover */

.products-grid > div:hover { border:1px solid #149fda; }

/* Add to Cart */

.products-grid > div .on-hover .add-to-cart { background-color:#149fda; }
.products-grid > div .on-hover .add-to-cart:hover { background-color:#21b9f9; }

/* Footer -> Custom Footer */

footer #custom-footer { background:#e6f7ff; }
footer #custom-footer > div > div > div h3 { color:#149fda; }

/* Footer -> Custom Footer -> About us */

footer #custom-footer > div > div > div h3.about-us { background:url(../img/color_3/icon-about-us.png) 0px 9px no-repeat; }

/* Footer -> Custom Footer -> Contact */

footer #custom-footer > div > div > div h3.contact { background:url(../img/color_3/icon-contact.png) 0px 13px no-repeat; }

/* Footer -> Custom Footer -> Twitter */

footer #custom-footer > div > div > div h3.twitter { background:url(../img/color_3/icon-twitter.png) 0px 9px no-repeat; }

/* Footer -> Custom Footer -> Facebook */

footer #custom-footer > div > div > div h3.facebook { background:url(../img/color_3/icon-facebook.png) 0px 9px no-repeat; }

/* NAVIGATION */

.navigation_container { background:#0C719C;border-top:1px solid #3296BD; }
.navigation_container nav > ul > li > a { color:#fff; }
.navigation_container nav > ul > li:hover > a { color:#fff; }
.navigation_container nav > ul > li > a.home { background:url(../img/color_3/home.png) 5px 23px no-repeat; }

/* Mobile Navigation */

.mobile-navigation .click-menu { background:url(../img/color_3/home.png) 20px 23px no-repeat;color:#fff; }
.mobile-navigation .click-menu:hover { background-color:#21b9f9; }
.mobile-navigation .categories-mobile-links ul li { border-top:1px solid #009389; }
.mobile-navigation .categories-mobile-links > ul > li > a { color:#fff; }
.mobile-navigation .categories-mobile-links > ul > li > ul > li > a { color:#fff; }

/* Content -> Banners */

.bg-banners { background:#e6f7ff; }


.products-grid > div .sale, .product-list > div .sale { background:#000000; }
div.notification { border-top:5px solid #149fda; }
div.notification a { color:#149fda; }
div.notification .close:hover { background-color:#149fda; }
.cart-total td.right { color:#149fda; }
.cart-info tbody .price, .cart-info tbody .total { color:#149fda; }
#page-title { background:#e6f7ff; }
.cart-module > div, .product-info .custom-block-product { border-top:5px solid #149fda; }
.product-info .right .price p { color:#149fda; }
input[type=text]:focus, input[type=password]:focus, textarea:focus { border:1px solid #149fda; }
.product-info .right .add-to-cart { background-color:#149fda; }
.product-info .right .add-to-cart:hover { background-color:#21b9f9; }
.box-category ul li a.active { color:#149fda; }
.product-list > div:hover { border:1px solid #149fda; }
.product-list > div .price { color:#149fda; }
.product-list > div .cart a { background-color:#149fda; }
.product-list > div .cart a:hover { background-color:#21b9f9; }
.checkout-product tfoot .total { color:#149fda; }