html, body, .fan_box, .full_widget, .connect_top, .connections, .connections_grid { margin: 0 !important; padding: 0 !important; background: none !important; border: none !important; }

.connect_widget_interactive_area { float:right !important;margin-right:7px !important; }
.profileimage { display:none !important; }
.name_block { display:none !important; }

.connections .total { margin:31px 0px 0px 0px !important;display:block !important;padding:0px 0px 17px 0px!important;color:#4c4c4c !important;font-family:Arial !important;font-size:12px !important; }

.grid_item { padding:0px 15px 8px 0px !important; }
.grid_item img { width:50px !important;height:50px !important; }

.mts { display:none !important; }