.set-size { width:950px;margin:0px auto; }
#theme-options h3 { font-family:Open Sans;font-size:25px;line-height:25px;color:#4c4c4c;font-weight:normal;padding-left:5px; }
#theme-options h4 { font-size:20px;color:#298ee3;font-family:Open Sans;line-height:20px;font-weight:normal;border-bottom:1px solid #e9e9e9;padding:14px 0px 8px 0px;margin:0px; }
#theme-options h5 { font-size:16px;color:#808080;font-family:Open Sans;line-height:16px;font-weight:normal;border-bottom:1px solid #e9e9e9;padding:14px 0px 8px 0px;margin:0px; }

/* Content */

#theme-options .content { background:#fff;-webkit-border-radius: 10px;border-radius: 10px;-moz-border-radius: 10px;-webkit-box-shadow: 0px 0px 6px 2px #e9e9e9;box-shadow: 0px 0px 6px 2px #e9e9e9;-moz-box-shadow: 0px 0px 6px 2px #e9e9e9;padding:5px;margin-bottom:50px; }
#theme-options .content > div { border:1px solid #c8c8c8; }
#theme-options .content > div .bg-tabs { background:url(../image/dilecta/bg-tabs.png) top left repeat-y; }

/* Buttons */

#theme-options .buttons { background:#e6e6e6;border-top:1px solid #c8c8c8;text-align:right;height:78px;padding:0px 18px; }
#theme-options .buttons a.button-save { display:block;float:right;text-indent:100000px;overflow:hidden;width:115px;height:41px;cursor:pointer;background:url(../image/dilecta/button-save.png) top left no-repeat;margin-top:19px; }

/* Main Tabs */

.main-tabs { float:left;width:190px;border:none;margin:0px;padding:0px;height:auto; }
.main-tabs a { display:block;float:none;clear:both;border:none;background:none;margin:0px;padding:0px;border-bottom:1px solid #e0e0e0;height:49px;text-align:left; }
.main-tabs a.selected { background:#fff url(../image/dilecta/tab-active.png) top right no-repeat;padding:0px;height:49px; }
.main-tabs a span { display:block;padding:15px 0px 0px 50px;font-family:Open Sans;color:#4c4c4c;font-size:14px;height:34px; }
.main-tabs a#general span { background:url(../image/dilecta/general.png) 15px 17px no-repeat; }
.main-tabs a#design span { background:url(../image/dilecta/design.png) 15px 18px no-repeat; }
.main-tabs a#tfooter span { background:url(../image/dilecta/footer.png) 18px 18px no-repeat; }
.main-tabs a#tpayment span { background:url(../image/dilecta/payment.png) 19px 16px no-repeat; }
.main-tabs a#tfooter { background-image:none;border-right:1px solid #cccccc; }
.tab-content { float:left;width:690px;padding:15px 0px 40px 29px; }
.tab-content4 { float:left;width:500px;padding:15px 0px 40px 29px; }
.tab-content2 { float:left;width:748px;padding:0px; }
.tab-content3 { float:left;width:748px;padding:0px;background:url(../image/dilecta/bg-tabs.png) top left repeat-y; }
.main-tabs a img { position:absolute;margin:19px 0px 0px 16px }

/* Tabs Design */

.tabs-design { padding:0px;margin:0px;float:none;clear:both;border:none;background:url(../image/dilecta/bg-tabs-design.png) top left repeat-x;height:50px; }
.tabs-design a { padding:0px;margin:0px;float:left;display:block;height:50px;border:none;border-right:1px solid #cccccc;font-family:Open Sans;color:#4c4c4c;font-size:14px;background:none; }
.tabs-design a.selected { background:#fff;padding:0px;height:50px; }
.tabs-design a span { display:block;padding:15px 21px 0px 42px;height:35px; }
.tabs-design a#tfont span { background:url(../image/dilecta/font.png) 20px 18px no-repeat; }
.tabs-design a#tcolors span { background:url(../image/dilecta/colors.png) 20px 16px no-repeat; }
.tabs-design a#tbackground span { background:url(../image/dilecta/background.png) 20px 17px no-repeat; }
.tabs-design a.tcontact span { background:url(../image/dilecta/contact.png) 23px 14px no-repeat; }
.tabs-design a.taboutus span { background:url(../image/dilecta/aboutus.png) 20px 16px no-repeat; }
.tabs-design a.tfacebook span { background:url(../image/dilecta/facebook.png) 20px 15px no-repeat; }
.tabs-design a.ttwitter span { background:url(../image/dilecta/twitter.png) 20px 15px no-repeat; }

/* Status */

.status-on { width:66px;height:29px;background:url(../image/dilecta/on.png) top left no-repeat;cursor:pointer;margin-top:5px; }
.status-off { width:67px;height:29px;background:url(../image/dilecta/off.png) top left no-repeat;cursor:pointer;margin-top:5px; }

/* Input */

.input { padding:21px 0px 19px 0px;border-bottom:1px solid #e0e0e0; }
.input .clear { font-size:1px;line-height:1px;height:1px;clear:both;margin:0px;padding:0px; }
.input p { float:left;width:170px;font-family:Open Sans;color:#4c4c4c;font-size:14px;padding:6px 10px 0px 0px;;margin:0px;line-height:14px; }
.input select, .input input, .input textarea { display:block;float:left;width:172px;margin:0px;padding:0px;border:1px solid #cccccc;-webkit-border-radius: 4px;border-radius: 4px;-moz-border-radius: 4px;color:#4c4c4c;background:#fff url(../image/dilecta/bg-input.png) top left repeat-x;padding:6px 8px;margin-right:20px; }
.input textarea { float:right;margin-right:0px;width:324px;height:200px;max-width:324px;position:relative;margin-left:-30px; }

/* Footer */

.footer_left { float:left;width:190px;margin:99px 0px 0px 0px;border-top:1px solid #cccccc;padding-bottom:60px; }
.footer_right { float:left;width:558px; }

/* Select color settings */

ul.select-color-settings { list-style:none;height:220px;padding:8px 0px 0px 0px;margin:0px; }
ul.select-color-settings li { float:left;width:108px;padding-bottom:11px; }
ul.select-color-settings li a { display:block;width:90px;height:90px;border:2px solid #fff;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; }
ul.select-color-settings li img { border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; }
ul.select-color-settings li a.active { border:2px solid #298ee3; }
ul.select-color-settings li a.active img { border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;margin:2px;width:86px;height:86px; }

/* Colors */

div.colors_left { float:left;width:190px;padding:15px 0px 0px 0px; }
div.colors_center { float:left;width:190px;padding:15px 0px 0px 60px; }
div.colors_right { float:left;width:190px;padding:15px 0px 0px 60px; }

.color_input { height:40px;clear:both; }
.color_input p { float:left;width:130px;font-family:Open Sans;color:#4c4c4c;font-size:14px;padding:15px 0px 0px 0px;margin:0px; }
.color_input div { float:right;width:60px;padding:11px 0px 0px 0px; }
.color_input input { display:block;width:43px;margin:0px;padding:0px;border:1px solid #cccccc;-webkit-border-radius: 4px;border-radius: 4px;-moz-border-radius: 4px;color:#4c4c4c;background:#fff url(../image/dilecta/bg-input.png) top left repeat-x;padding:6px 8px; }

/* Background */

.background-left { float:left;width:320px;padding:10px 0px 0px 0px; }
.background-right { float:left;width:320px;padding:10px 0px 0px 50px; }

.own_image { height:110px;background:url(../image/dilecta/upload.png) top left no-repeat;cursor:pointer; }
.own_image img { width:90px;height:90px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin:10px 0px 0px 76px; }

.background-left .input p, .background-right .input p { width:115px; }
.background-left .input select, .background-right .input select { float:right;margin-right:0px; }

.text { font-family:Open Sans;color:#4c4c4c;font-size:14px;padding:27px 10px 27px 0px;margin:0px;line-height:14px; }

.slider { height:150px;background:url(../image/dilecta/upload.png) top left no-repeat;cursor:pointer;margin-top:20px; }
.slider img { width:420px;height:120px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin:10px 0px 0px 76px; }

/* Input Payment */

.input-payment { clear:both;height:50px; }
.input-payment > img { float:left;width:50px;height:30px; }
.input-payment .input-payment-div { float:left;width:440px;padding-top:1px; }
.input-payment .input-payment-div p, .url p { float:left;width:auto;font-family:Open Sans;color:#4c4c4c;font-size:14px;padding:7px 6px 10px 29px;margin:0px;line-height:14px; }
.input-payment .input-payment-div input, .url input { float:left;display:block;width:350px;margin:0px;padding:0px;border:1px solid #cccccc;-webkit-border-radius: 4px;border-radius: 4px;-moz-border-radius: 4px;color:#4c4c4c;background:#fff url(../image/dilecta/bg-input.png) top left repeat-x;padding:6px 8px; }
.url { width:150%;padding-top:10px; }
.url p { padding-left:0px;padding-right:11px; }
.url input { width:220px; }
.input-payment .status { float:left;margin-top:2px; }

/* Functions */

.functions .input p { width:170px; }
.functions .input .status { float:left;margin-top:2px; }

.tabs_add_element { border-bottom:1px solid #e9e9e9;background:#f2f2f2;height:45px;padding-left:20px; }
.tabs_add_element a { padding:15px 23px 0px 23px;font-family:Open Sans;float:left;font-size:12px;color:#4c4c4c;font-weight:600;text-decoration:none;display:block;height:31px;border-left:1px solid #cccccc; }
.tabs_add_element a.selected { background:#fff; }


/* Store select */

#tb_store_select { position:absolute;width:940px;text-align:right;margin-top:-60px;font-family:Open Sans;color:#4c4c4c;font-size:14px; }
#tb_store_select select { display:inline-block;width:122px;margin:0px;padding:0px;border:1px solid #cccccc;-webkit-border-radius: 4px;border-radius: 4px;-moz-border-radius: 4px;color:#4c4c4c;background:#fff;padding:6px 8px;margin-left:10px;color:#4c4c4c;font-size:12px; }
