/* RESPONSIVE DESIGN ********************************************* */
	
	@media only screen and (max-width: 960px) {

		body { min-width:300px; }
		.set-size, .set-size-grid { width:auto !important;padding-left:20px !important;padding-right:20px !important; }
		.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 { width:100% !important;padding:0px !important;float:none !important;clear:both !important; }
		.slider-fixed { width:auto !important;margin:0px !important; }
		.rounding-top { display:none; }
		.rounding-bottom { display:none; }
				
		/* Header -> Top -> Logo */

		header .top h1 { width:auto !important;float:none !important;padding-left:0px !important;padding-right:85px !important;padding-top:59px !important; }
		header .top h1 img { max-width:100% !important; }
			
		/* Header -> Top -> Top Right */

		header .top .top-right { float:none !important;width:auto !important;padding-right:0px !important;padding-bottom:20px !important; }
			
		/* Header -> Top -> Top Right -> Wishlist */

		header .top .top-right .wishlist { margin:0px !important;top:0;right:82px;display:none; }

		/* Header -> Top -> Top Right -> Cart */

		header .top .top-right #cart_block { margin:0px !important;top:0;right:10px; }
			
		/* Header -> Top -> Top Right -> Language && Currency */

		header .top .top-right .language-currency { width:auto !important;text-align:left !important;padding:0px 70px 0px 0px !important;left:20px;top:10px; }
			
		/* Header -> Top -> Top Right -> Language && Currency -> Switcher */

		header .top .top-right .language-currency .switcher p { padding-left:0px !important;margin-right:31px !important; }
			
		/* Header -> Top -> Top Right -> Menu */

		header .top .top-right ul.menu { margin:0px !important;text-align:left !important; }
		header .top .top-right ul.menu li { padding:0px 18px 0px 0px !important; }
		
		/* NAVIGATION */
		
		.mobile-navigation, .mobile-navigation .active { display:block !important; }
		.navigation_container nav { display:none; }
			
		/* Navigation -> Search */

		.navigation_container .search { width:182px; }
		
		/* CONTENT */
		
		/* Content -> Banners */
		
		.bg-banners { display:none; }
		.banners .grid-1 { width:8.3% !important; }
		.banners .grid-2 { width:16.6% !important; }
		.banners .grid-3 { width:25% !important; }
		.banners .grid-4 { width:33.3% !important; }
		.banners .grid-5 { width:41.6% !important; }
		.banners .grid-6 { width:50% !important; }
		.banners .grid-7 { width:58.4% !important; }
		.banners .grid-8 { width:66.6% !important; }
		.banners .grid-9 { width:75% !important; }
		.banners .grid-10 { width:83.4% !important; }
		.banners .grid-11 { width:91.7% !important; }
		.banners .grid-12 { width:100% !important; }		
		.banners > div { float:left !important;clear:none !important;padding:20px 0px 0px 0px !important;text-align:center !important; }
		.banners > div img { max-width:94% !important;display:inline-block !important; }
		
		
		/* Box */
			
		.box { padding:0px !important; }
			
		/* Products Grid */
		
		.overflow-products { width:270px !important;margin:0px auto !important;clear:both; }
		.products-grid > div { cursor:pointer !important;display:inline-block !important;vertical-align:top !important;width:223px !important;padding:20px !important;margin:20px 17px 0px 0px !important; }
		.products-grid > div .image img { display:block !important;max-width:100% !important; }
		.products-grid > div .name { padding:14px 0px 0px 0px !important; }
		.products-grid > div .price { padding:10px 0px 4px 0px !important; }
		.products-grid > div .on-hover { margin-right:0px !important; }
		.products-grid > div .on-hover .add-to-cart { display:block !important;width:66px !important;height:57px !important;margin:10px 0px 0px 25px !important;background-image:url(../img/add-to-cart.png) !important; }
		.products-grid > div .on-hover .links { margin:-35px 0px 0px 113px !important;line-height:18px !important;text-align:left !important; }
		.products-grid > div .on-hover .links a { line-height:18px !important;font-size:12px !important; }
		.products-grid > div .left { float:none !important;width:auto !important;padding:0px !important; }
		.products-grid > div .right { float:none !important;width:auto !important; }
		
		/* Product info */
		
		div.product-info .left, div.product-info .right { clear:both;float:none !important;width:auto !important;text-align:center;margin-left:0px; }
		div.product-info .option { text-align:left !important; }
		div.product-info .left { text-align:center; }
		div.product-info .left .image { margin:0px auto;width:300px !important;height:300px !important; }
		div.product-info .left .image img { width:300px !important;height:300px !important; }
		div.product-info .left .image-2 { height:auto !important; } 
		div.product-info .left .image-2 img { height:auto !important; } 
		
		div.product-info .left .image #image, div.product-info .left .image .zoomPad > img, div.product-info .left .image .zoomPup img { display:block;width:300px;height:300px; }
		div.product-info .left .image .zoomWrapper, div.product-info .left .image .zoomWrapperImage { width:300px !important;height:300px !important;border:none !important; }
		div.product-info .left .image .zoomWrapperTitle { display:none !important; }
		div.product-info .left .image #image, div.product-info .left .image .zoomPad > img, div.product-info .left .image .zoomPup img { display:block;width:300px !important;height:300px !important; }
		div.product-info .left .image .zoomWrapper, div.product-info .left .image .zoomWrapperImage { width:300px !important;height:300px !important;border:none !important; }
		.div.product-info .left .image .zoomWrapperTitle { display:none !important; }
		
		div.product-info .left .image-additional { margin-right:0px;text-align:center; }
		div.product-info .left .image-additional a { float:none !important;display:inline-block; }
		div.product-info .right { clear:both;padding-top:20px; }
		.product-info .custom-block-product { display:none; }
		.product-info .left .zoom-image { width:150px;left:50%; }
		
		/* FOOTER **** */	
			
			
		/* Footer -> Footer Navigation */
		
		footer .footer-navigation { padding:20px 0px 30px 0px; }
		footer .footer-panels { padding:15px 0px 0px 0px;text-align:center; }
		footer .footer-panels .footer-title { border:none;padding:0px 0px 0px 0px; }
		footer .footer-panels .footer-title h3 { cursor:pointer; }
		footer .footer-panels .no-active { display:none; }
		
		/* Footer -> Copyright */
		
		footer .copyright { margin:0px; }
		footer .copyright ul { float:none;text-align:center;padding-bottom:0px; }
		footer .copyright p { text-align:center; }

		/* Content -> Category List */

		div.category-list { text-align:center; }
			
		/* Product List */
		
		.product-list > div { background:none; }
		.product-list > div .left, .product-list > div .right { width:auto !important;float:none; !important;text-align:center !important; }
		.product-list > div .left .image { float:none !important;margin:0px auto !important;width:220px !important;padding:0px 0px 5px 0px !important; }
		.product-list > div .left .name { width:auto !important;float:none !important;margin:0px auto !important;padding-top:30px !important; }
		.product-list > div .right { padding-top:0px !important; }
			
	}
	
	@media only screen and (min-width: 590px) and (max-width: 880px) {
	
		.overflow-products { width:560px !important;margin:0px auto !important;clear:both; }
		
	}
	
	@media only screen and (min-width: 880px) and (max-width:960px) {
	
		.overflow-products { width:840px !important;margin:0px auto !important;clear:both; }
		
	}

	@media only screen and (max-width: 570px) {

		.button-slider { padding:7px 30px 8px 30px;font-size:12px; }
		.button-slider2 { padding:7px 30px 8px 30px;font-size:12px; }
		
		/* Header -> Top -> Top Right -> Cart */

		header .top .top-right #cart_block .content .content-arrow { margin:-10px 0px 0px 272px; }
		header .top .top-right #cart_block .content { width:300px;margin:-29px 0px 0px -240px; }

		/* Header -> Top -> Top Right -> Cart -> Items */

		header .top .top-right #cart_block .content ul.items-in-shopping-cart { padding:14px 15px 20px 15px; }
		header .top .top-right #cart_block .content ul.items-in-shopping-cart li .image { width:37px; }
		header .top .top-right #cart_block .content ul.items-in-shopping-cart li .image img { width:30px;height:30px; }
		header .top .top-right #cart_block .content ul.items-in-shopping-cart li .name { width:95px; }
		header .top .top-right #cart_block .content ul.items-in-shopping-cart li .quantity { width:23px; }
		header .top .top-right #cart_block .content ul.items-in-shopping-cart li .price { width:71px; }

		/* Header -> Top -> Top Right -> Cart -> Saldo & action */

		header .top .top-right #cart_block .content .saldo-action { padding:13px 30px 30px 30px; }
		header .top .top-right #cart_block .content .saldo-action .saldo ul li p { width:120px; }
		header .top .top-right #cart_block .content .saldo-action .saldo ul li span { width:94px; }
		
		/* Notification */
		
		div#notification {
			width: 260px;
			margin-right: -130px;	
		}
		
		/* Cart info */
		
		.cart-info table tr td {
			width: auto;
			display: block;
			text-align: center !important;
			margin: 0px auto !important;
		}
		
		.cart-info table thead tr td {
			border-top: 1px solid #e6e6e6;
		}
		
		.cart-info table thead tr td:first-child {
			border-top: none;
		}

		/* Cart */
		
		.cart-content {
			width: 100%;
		}
		
		/* Checkout content */
		
		.checkout-content .left {
			float: none;
			width: auto;
			border-bottom: 1px solid #e6e6e6;
		}
		
		.checkout-content .right {
			float: none;
			width: auto;
			padding-top: 20px;
		}
		
		.checkout-content textarea {
			max-width: 90%;
		}
		
		/* Checkout product */

		.checkout-product table tr td {
			width: auto;
			display: block;
			text-align: center !important;
			margin: 0px auto !important;
		}
		
		.checkout-product table thead tr td {
			border-top: 1px solid #e6e6e6;
		}
		
		.checkout-product table thead tr td:first-child {
			border-top: none;
		}		
		
		/* Login content */
		
		.login-content .left {
			float: none;
			width: auto;
			border-bottom: 1px solid #e6e6e6;
			padding-bottom: 35px;
		}
		
		.login-content .right {
			float: none;
			width: auto;
			padding-top: 10px;
		}
		
		/* Content */
		
		#content .content .left {
			float: none;
			width: auto;
		}
		
		#content .content .right {
			float: none;
			width: auto;
		}
		
		/* Return */
		
		.return-name, 
		.return-model, 
		.return-quantity,
		.return-reason,
		.return-opened {
			float: none;
			width: auto;
			padding: 5px 0px;
		}
		
		/* Sitemap */
		
		.sitemap-info .left {
			float: none;
			width: auto;
		}
		
		.sitemap-info .right {
			float: none;
			width: auto;
		}
	
		/* Common styles */
	
		select {
			max-width: 99% !important;
		}

	}
	

	@media only screen and (max-width: 400px) { 
		
		.banners { padding-top:4px; }
		.banners > div { width:auto !important;padding:16px 10px 0px 10px !important; }
		.banners > div img { max-width:100% !important; }
		.banners .grid-1 { width:auto !important; }
		.banners .grid-2 { width:auto !important; }
		.banners .grid-3 { width:auto !important; }
		.banners .grid-4 { width:auto !important; }
		.banners .grid-5 { width:auto !important; }
		.banners .grid-6 { width:auto !important; }
		.banners .grid-7 { width:auto !important; }
		.banners .grid-8 { width:auto !important; }
		.banners .grid-9 { width:auto !important; }
		.banners .grid-10 { width:auto !important; }
		.banners .grid-11 { width:auto !important; }
		.banners .grid-12 { width:auto !important; }		
			
	}
